<h1>image Page</h1>
<hr>
<ul class="list-group well">
  <% @images.order(:created_at).each do |image| %>
  <br>
    <li class="list-group-item">
      <strong><%= image.description %></strong>
      <% image.user_tags.each do |user_id| %>
      <% user = User.find(user_id) %>
      | <%= user.email.capitalize %>
      <%end%>
      <%= link_to "image Page", image_path(image), :class => "btn btn-info btn-sm pull-right" %>
      <% if current_user == image.user %>
        (editable by you)
      <%end%>
      <% if current_user %>
        <%= link_to "Favorite", favorite_image_path(image), :class => "btn btn-success pull-right", :method => "post" %>
        <% if current_user.favorite_images.include?(image.id) %>
          (Already Favorited)
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
<hr>
<%= link_to "Add a image", new_image_path, :class => "btn-lg"%>
<% if current_user %>
<%= link_to "User Page", user_path(current_user) %>
<% end %>
