<h1><%= @image.description %> Page</h1>
<div class="row">
  <div class="col-sm-6">
    <%= image_tag(@image.image.url(:medium)) %>
    <% if @image.user_tags.length > 0 %>
      <h5>Users tagged on this image</h5>
      <% @image.user_tags.each do |user_id| %>
        <% user = User.find(user_id) %>
        <p><%= user.email %> is tagged</p>
      <% end %>
    <% end %>

  </div>
  <div class="col-sm-6">
    <h5>Tag a fellow User on this Image</h5>
      <% @users.each do |user| %>
        <%= link_to "Tag " + user.email.capitalize, tag_user_image_path(user, @image), :class => "btn btn-success", :method => "post" %>
      <% end %>
    </select>
  </div>
</div>


<% if 1 == 0 %>
<ul class="list-group well">
  <% @image.secondmodels.each do |secondmodel| %>
  <li class="list-group-item"><strong><%= secondmodel.name %></strong> <%= link_to "View secondmodel", image_secondmodel_path(@image, secondmodel), :class => "btn btn-info btn-sm pull-right"%></li>
  <% end %>
</ul>
<% end %>

<% if current_user == @image.user %>
<div class="btn-group">
  <%= link_to "Edit", edit_image_path(@image), :class => "btn btn-primary" %>
  <%= link_to "Delete", image_path(@image), :class => "btn btn-primary", :data => {:confirm => "You Sure?", :method => 'delete'} %>
  <% if 1 == 0 %>
  <%= link_to "Add a secondmodel", new_image_secondmodel_path(@image), :class => "btn btn-primary" %>
  <% end %>
</div>
<% end %>


<hr>

<%= link_to "Back to Homepage", images_path %>
